<p id="notice"><%= notice %></p>

<h1>課程列表</h1>
<%= link_to "查看購物車", cart_path, class: 'btn btn-info float-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">課程主題</th>
      <th scope="col" class="text-nowrap">課程價格</th>
      <th scope="col" class="text-nowrap">幣別</th>
      <th scope="col" class="text-nowrap">課程類型</th>
      <th scope="col" class="text-nowrap">課程連結網址</th>
      <th scope="col" class="text-nowrap">課程描述</th>
      <th scope="col" class="text-nowrap">課程效期</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course %></td>
        <td><%= course.price %></td>
        <td><%= course.currency %></td>
        <td><%= course.course_type %></td>
        <td><%= course.course_url %></td>
        <td><%= truncate course.description, length: 20 %></td>
        <td><%= course.valid_period %> 天 </td>
        <td><%= link_to "放到購物車", add_cart_path(course), method: 'post', remote: true, class: 'button is-light is-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

